@charset "UTF-8";
/* CSS Document */

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Open Sans;
	color: #432920; 
}



/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
	1.6 - Tables
2.0 - Navigation Menus
	2.1 - Main
	2.2 - Sub
	2.3 - Footer
3.0 - Content
	3.1 - Site Structure
	3.2	- Site Header
	3.3	- Site Footer
4.0 - Media
5.0 - Utility
	5.1 - Text Sizes
	5.2 - Colors
	5.3 - Alignments
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 - Typography
-------------------------------------------------------------- */
h2, h3, h4, h5, a, th, td:first-child, header p, #about > p {
	font-family: Playfair Display;
}

h2, h3, a, th:first-child, header p, #about > p {
	text-transform: uppercase;
}

h5, footer p, #about a, #products a, #contact-us a {
	color: #fff;
}

#about a, #products a, #contact-us a {
	background-color: #E4546F;
	padding: 10px 20px;
}

h2, nav a:hover, footer a:hover {
	color: #E4546F;
}

nav li, footer li, header p {
	display: inline-block;
}

header p, #about > p {
	font-size: 36px;
	font-style: italic;
	font-weight: 900;
	line-height: 40px;
}

#about h2 {
	text-align: left;
}

nav, #about > p, h2, #products, #contact-us div > p {
	text-align: center;
}

header p {
	background-color: rgba(255, 255, 255, 0.5);
	padding: 30px 80px 30px 20px;
}

#contact-us div > p, #products div > p {
	font-weight: 700;
	font-size: 19px;
}

#about > p {
	margin-top: 0;
	margin-bottom: 100px;
}

/*1.1 - Headings*/

h1, h2, h3, h4 {
	margin: 0;
}

/*1.2 - Body Copy*/
p {
	font-size: 14px;
	line-height: 25px;
}

/*1.3 - Buttons*/
a {
	text-decoration: none;
}

/*1.4 - Forms*/
form {
	width: 770px;
}

caption {
	display: none;
}

/*1.5 - Lists*/


/*--------------------------------------------------------------
2.0 - Navigation Menus
-------------------------------------------------------------- */
/*2.1 - Main*/
nav {
	position: fixed;
	top: 0; 
	left: 0;
	background-color: #fff;
	width: 100%;
	font-size: 14px;
	font-weight: 700;
}

nav li {
	padding: 0 20px;
	vertical-align: middle;
}

nav li:first-child, nav li:last-child {
	padding: 0 50px;
}




/*2.3 - Footer*/


/*--------------------------------------------------------------
3.0 - Content
-------------------------------------------------------------- */
/*3.1 - Site Structure*/
.wrapper {
	width: 1170px;
	margin: 0 auto;
	padding: 20px 0;
}

.row {
	overflow: auto;
}

.f-right {
	float: right;
}

.f-left {
	float: left;
}

#about, #products, #daily-flavors, #contact-us {
	padding: 135px 0;
}

#about section.f-left {
	width: 570px;
	margin-left: 30px;
}

#products section {
	width: 270px;
	margin-left: 180px;
}

#products section:first-child, #daily-flavors section:first-child {
	margin-left: 0;
}

#products p:last-child {
	margin-top: 65px;
}

#products section:nth-child(2) p:last-child {
	margin-top: 40px;
}

#daily-flavors section {
	width: 270px;
	margin-left: 30px;
}

#daily-flavors section:first-child, #daily-flavors h2 {
	margin-bottom: 60px;
}

/*--------------------------------------------------------------
4.0 - Media
-------------------------------------------------------------- */
#bg-image {
	background-image: url(../img/bg-cupcake-image.jpg);
}
/*--------------------------------------------------------------
5.0 - Utility
-------------------------------------------------------------- */
#bg-pink {
	background-color: #F4C9CB;
}

#products, #contact-us {
	background-color: #AADEDD;
}

footer {
	background-color: #432920;
}


